:root {
  --cardWidth: 157px;
  --cardHeight: 220px;
  --numCards: 4;
  --cardHorizontalSpace: 100px;
}

body {
  height: 100vh;
}

main {
  height: 55%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.cardContainer {
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'a1 b1 c1 d1 e1 f1 g1 h1 i1 j1 k1 l1 m1'
    'a2 b2 c2 d2 e2 f2 g2 h2 i2 j2 k2 l2 m2'
    'a3 b3 c3 d3 e3 f3 g3 h3 i3 j3 k3 l3 m3'
    'a4 b4 c4 d4 e4 f4 g4 h4 i4 j4 k4 l4 m4';
  border: 1px solid black;
}

.cardPosA1 {
  grid-area: a1;
  border: 1px solid black;
  background-color: aquamarine;
}

.cardPosB1 {
  grid-area: b1;
  border: 1px solid black;
  background-color: blueviolet;
}

.cardPosC1 {
  grid-area: c1;
  border: 1px solid black;
  background-color: cadetblue;
}

.cardPosD1 {
  grid-area: d1;
  border: 1px solid black;
  background-color: darkgoldenrod;
}

.cardPosE1 {
  grid-area: e1;
  border: 1px solid black;
  background-color: darkgreen;
}

.cardPosF1 {
  grid-area: f1;
  border: 1px solid black;
  background-color: darkkhaki;
}

.cardPosG1 {
  grid-area: g1;
  border: 1px solid black;
  background-color: darkmagenta;
}

.cardPosH1 {
  grid-area: h1;
  border: 1px solid black;
  background-color: darkolivegreen;
}

.cardPosI1 {
  grid-area: i1;
  border: 1px solid black;
  background-color: darkorange;
}

.cardPosJ1 {
  grid-area: j1;
  border: 1px solid black;
  background-color: darkorchid;
}

.cardPosK1 {
  grid-area: k1;
  border: 1px solid black;
  background-color: darkred;
}

.cardPosL1 {
  grid-area: l1;
  border: 1px solid black;
  background-color: darksalmon;
}

.cardPosM1 {
  grid-area: m1;
  border: 1px solid black;
  background-color: darkseagreen;
}

.cardPosA2 {
  grid-area: a2;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosB2 {
  grid-area: b2;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosC2 {
  grid-area: c2;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosD2 {
  grid-area: d2;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosE2 {
  grid-area: e2;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosF2 {
  grid-area: f2;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosG2 {
  grid-area: g2;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosH2 {
  grid-area: h2;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosI2 {
  grid-area: i2;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosJ2 {
  grid-area: j2;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosK2 {
  grid-area: k2;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosL2 {
  grid-area: l2;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosM2 {
  grid-area: m2;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosA3 {
  grid-area: a3;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosB3 {
  grid-area: b3;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosC3 {
  grid-area: c3;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosD3 {
  grid-area: d3;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosE3 {
  grid-area: e3;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosF3 {
  grid-area: f3;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosG3 {
  grid-area: g3;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosH3 {
  grid-area: h3;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosI3 {
  grid-area: i3;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosJ3 {
  grid-area: j3;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosK3 {
  grid-area: k3;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosL3 {
  grid-area: l3;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosM3 {
  grid-area: m3;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosA4 {
  grid-area: a4;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosB4 {
  grid-area: b4;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosC4 {
  grid-area: c4;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosD4 {
  grid-area: d4;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosE4 {
  grid-area: e4;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosF4 {
  grid-area: f4;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosG4 {
  grid-area: g4;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosH4 {
  grid-area: h4;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosI4 {
  grid-area: i4;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosJ4 {
  grid-area: j4;
  border: 1px solid black;
  background-color: darkcyan;
}

.cardPosK4 {
  grid-area: k4;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosL4 {
  grid-area: l4;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosM4 {
  grid-area: m4;
  border: 1px solid black;
  background-color: darkcyan;
}

.card {
  position: absolute;
  height: var(--cardHeight);
  width: var(--cardWidth);
  perspective: 1000px;
  cursor: pointer;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cardImg {
  height: 100%;
}
.cardBack {
  transform: rotateY(180deg);
}

.card:hover .cardInner {
  transform: rotateY(180deg);
}
