:root {
  --cardWidth: 157px;
  --cardHeight: 220px;
  --numCards: 4;
  --cardHorizontalSpace: 100px;
}

body {
  height: 100vh;
}

main {
  height: 55%;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.cardContainer {
  position: relative;
  width: calc(
    var(--cardWidth) * (var(--numCards) / 2) + var(--cardHorizontalSpace)
  );
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'a b'
    'c d';
  border: 1px solid black;
}

.cardPosA {
  grid-area: a;
  border: 1px solid black;
  background-color: aquamarine;
}

.cardPosB {
  grid-area: b;
  border: 1px solid black;
  background-color: burlywood;
}

.cardPosC {
  grid-area: c;
  border: 1px solid black;
  background-color: cornflowerblue;
}

.cardPosD {
  grid-area: d;
  border: 1px solid black;
  background-color: darkcyan;
}

.card {
  position: absolute;
  height: var(--cardHeight);
  width: var(--cardWidth);
  perspective: 1000px;
  cursor: pointer;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cardImg {
  height: 100%;
}
.cardBack {
  transform: rotateY(180deg);
}

.card:hover .cardInner {
  transform: rotateY(180deg);
}
